@import url('../index.css');

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  padding: 18px 15px;
  border: solid 2px var(--lighter-purple);
  margin: 5px;
  width: 80px;
  border-radius: 8px;
}

.deleteBtn:hover {
  border: solid 2px var(--darker-pink);
  cursor: pointer;
  font-weight: 500;
  background-color: var(--darker-pink);
}