@import url('../index.css');

.enterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding: 18px 15px;
    border: solid 2px var(--lighter-purple);
    margin: 5px;
    width: 80px;
    border-radius: 8px;
}

.fullLetters {
    background-color: var(--hot-pink);
}

.disabled {
    opacity: 60%;
}

.disabled:hover {
  opacity: 60%;
}

.enterBtn:hover {
  cursor: pointer;
  color: white;
  font-weight: 500;
  background-color: var(--game-green);
  border: solid 2px var(--game-green);

}