.enterBtn {
    flex: 1 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    padding: 18px 15px;
    border: solid 2px #6f05b6;
    margin: 5px;
    min-width: 70px;
    border-radius: 8px;
}

.fullLetters {
    background-color: #ec3bf2;
}

.disabled {
    opacity: 60%;
}

.disabled:hover {
  opacity: 60%;
}

.enterBtn:hover {
  cursor: pointer;
  color: white;
  font-weight: 500;
  background-color: rgb(10, 165, 10);
}