@import url('../index.css');

.guessSquare {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 3px;
    font-size: 30px;
    border: solid 2px var(--lighter-purple);
    border-radius: 5px;
    width: 64px;
    height: 64px;
    overflow-y: hidden;
}

.inCorrectSpot {
    background-color: var(--game-green);
    border: var(--game-green);
}

.isInWord {
    background-color:  var(--game-yellow);
    border: var(--game-yellow);
}

.notInWord {
    background-color:  var(--game-black);
    border: var(--game-black);
}