.guessSquare {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 3px;
    font-size: 24px;
    border: solid 2px #6f05b6;
    border-radius: 5px;
    width: 64px;
    height: 64px;
    overflow-y: hidden;
}

.inCorrectSpot {
    background-color: rgb(10, 165, 10);
}

.isInWord {
    /* background-color: rgb(136, 117, 32); */
    background-color: #b99c18;
}

.notInWord {
    background-color: rgb(24, 23, 23);
}