@import url('../index.css');

.guessDistribution {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 30px;
}

.guessDistributionText {
    color: var(--hot-pink);
    text-align: left;
}

.guessBarWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 18px;
    overflow: hidden;
}

.guessBar {
    text-align: right;
    background-color: var(--game-black);
    margin-top: 5px;
    padding: 5px;
    margin-left: 8px;
    overflow: hidden;
}

.green {
    background-color: var(--game-green);
}

.default {
    background-color: var(--game-black);
}

.guessNumber {
    flex: 0 1 20px;
    color: var(--hot-pink);
    overflow: hidden;
}