.headerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: 30px;
    color: #EC3BF2;
    border-bottom: solid 3px #6f05b6;
    width: 100%;
    padding: 0;
}

.shwordleLogo {
    flex: 1 0 auto;
    font-size: 30px;
    margin-right: -48px;
}