.keyboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
}

.lettersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
}