.keyboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 90%;
}

.lettersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}