@import url('../index.css');

.lauraModalHeader {
    flex: 0 0 60px;
    padding: 15px 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.headerText {
    flex: 1 0 auto;
    font-size: 32px;
    text-align: center;
    margin-right: -5px;
    color: var(--hot-pink);
}

.closeIcon {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-size: 24px;
    color: var(--text-white);
    background-color: var(--background-purple);
}

.closeIcon:hover {
    cursor: pointer;
    color: var(--hot-pink)
}