@import url('../index.css');

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay-background);
    z-index: 3000;
}

.lauraModal {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--lighter-purple);
    border-radius: 5px;
    box-shadow: 0 4px 23px 0 var(--game-black);
    background-color: var(--background-purple);
    width: 40%;
    margin: auto;
    padding: 5px 10px 20px 10px;
}

.image {
    width: 80%;
}

.turtleLink {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turtleLink:hover {
    box-shadow: 0 4px 23px 0 var(--laura-blue);
}