.letter {
    font-size: 16px;
    text-align: center;
    padding: 18px 10px 18px 12px;
    border: solid 2px #6f05b6;
    margin: 5px;
    width: 40px;
    border-radius: 5px;
}

.letter:hover {
    cursor: pointer;
    background-color: #6f05b6;
}

.inCorrectSpot {
    background-color: rgb(10, 165, 10);
}

.isInWord {
    background-color: #b99c18;
}

.notInWord {
    background-color: rgb(24, 23, 23);
}