@import url('../index.css');

.letter {
    font-size: 16px;
    text-align: center;
    padding: 18px 10px 18px 12px;
    border: solid 2px var(--lighter-purple);
    margin: 5px;
    width: 40px;
    border-radius: 5px;
}

.letter:hover {
    cursor: pointer;
    background-color: var(--lighter-purple);
}

.inCorrectSpot {
    background-color: var(--game-green);
}

.isInWord {
    background-color: var(--game-yellow);
}

.notInWord {
    background-color: var(--game-black);
}