@import url('../index.css');

.statsModalContent {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.statsContentWrapper {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.statistics {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: solid 1px var(--lighter-purple);
}

.statisticsHeader {
    color: var(--hot-pink)
}

.statisticsWrapper {
    overflow: hidden;
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    font-size: 1.8rem;
    margin: 5px 0;
}

.answerWord {
    color: var(--game-green);
}

.stat {
    flex: 1 0 auto;
    text-align: right;
    color: var(--hot-pink);
}