.guessSquare {
    text-align: center;
    align-items: center;
    padding: 25px;
    margin: 3px;
    border: solid 2px #1f1f1f;
    width: 60px;
    height: 60px;
}

.inCorrectSpot {
    background-color: green;
}

.isInWord {
    background-color: yellow;
}

.notInWord {
    background-color: gray;
}