.letter {
    text-align: center;
    padding: 20px;
    border: solid 2px #1f1f1f;
    margin: 5px;
    min-width: 60px;
}

.letter:hover {
    cursor: pointer;
    background-color: rgb(197, 197, 197);
}

.inCorrectSpot {
    background-color: green;
}

.isInWord {
    background-color: yellow;
}

.notInWord {
    background-color: gray;
}