.letter {
    text-align: center;
    padding: 20px 15px;
    border: solid 2px #6f05b6;
    margin: 5px;
    min-width: 50px;
    border-radius: 5px;
}

.letter:hover {
    cursor: pointer;
    background-color: #6f05b6;
}

.inCorrectSpot {
    background-color: green;
}

.isInWord {
    background-color: yellow;
}

.notInWord {
    background-color: gray;
}