.letter {
    font-size: 20px;
    text-align: center;
    padding: 20px 15px;
    border: solid 2px #6f05b6;
    margin: 5px;
    min-width: 50px;
    border-radius: 5px;
}

.letter:hover {
    cursor: pointer;
    background-color: #6f05b6;
}

.inCorrectSpot {
    background-color: rgb(10, 165, 10);
}

.isInWord {
    background-color: rgb(136, 117, 32);
}

.notInWord {
    background-color: rgb(24, 23, 23);
}