:root {
  --overlay-background: rgb(55, 1, 94, .7);
  --hot-pink: #ec3bf2;
  --darker-pink: #ba03c0;
  --background-purple: rgb(55, 1, 94);
  --lighter-purple: #6f05b6;
  --game-green: rgb(10, 165, 10);
  --game-yellow: #b99c18;
  --game-black: rgb(24, 23, 23);
  --text-white: rgb(220, 255, 225);
  --laura-blue: rgb(87, 179, 255);
}

* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  overflow-x: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-purple);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color:rgb(220, 255, 225);
  padding-bottom: 15px;
}
