* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  overflow-x: hidden;
}

.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  height: 100vh;
  width: 100vw;
  background-color: rgb(55, 1, 94);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color:rgb(220, 255, 225);
  padding-bottom: 15px;
}
